<%= form_with model: @medical_record, local: true do |form| %>
  <p>
    <%= form.label :Date_of_admit %><br>
    <%= form.date_field :date_of_admit %>
  </p>
 
  <p>
    <%= form.label :date_of_discharge %><br>
    <%= form.date_field :date_of_discharge %>
  </p>

  <p>
    <%= form.label :doctor_fees %><br>
    <%= form.text_field :doctor_fees %>
  </p>
 
 <p>
    <%= form.label :room_charge %><br>
    <%= form.text_field :room_charge %>
  </p>
 
 <p>
    <%= form.label :total_bill %><br>
    <%= form.text_field :total_bill %>
  </p>
 
 
  <p>
    <%= form.submit %>
  </p>
<% end %>


