<h1>Listing medicalrecord</h1>
<%= link_to 'New medicalrecord', new_medical_record_path %>
 
<table class="table">
 <thead>
  <tr>
    <th>date_of_admit</th>
    <th>date_of_discharge </th>
    <th>doctor_fees</th>
    <th>room_charge</th>
    <th>total_bill</th>
   
  </tr>
 </thead>
 <tbody>
  <% @medicalrecords.each do |medical_record| %>

    <tr>
      <td><%= medical_record.date_of_admit %></td>
      <td><%= medical_record.date_of_discharge %></td>
      <td><%= medical_record.doctor_fees %></td>
      <td><%= medical_record.room_charge %></td>
      <td><%= medical_record.total_bill %></td>
      <td><%= link_to 'Show', medical_record_path(medical_record) %></td>
      <td><%= link_to 'Edit', edit_medical_record_path(medical_record) %></td>
      <td><%= link_to 'Destroy', medical_record_path(medical_record),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  
  <% end %>
</tbody>
</table>
