<p>
  <strong>date_of_admit:</strong>
  <%= @medicalrecord.date_of_admit %>
</p>
 
<p>
  <strong>date_of_discharge:</strong>
  <%= @medicalrecord.date_of_discharge %>
</p>
 
<p>
  <strong>doctor_fees:</strong>
  <%= @medicalrecord.doctor_fees %>
</p>
 
<p>
  <strong>room_charge:</strong>
  <%= @medicalrecord.room_charge %>
</p>
 
<p>
  <strong>total_bill:</strong>
  <%= @medicalrecord.total_bill %>
</p>
 
<%= link_to 'Edit', edit_medical_record_path(@medicalrecord) %>
<%= link_to 'Back', medical_records_path %>