<p>
  <strong>date_of_admit:</strong>
  <%= @medical_record.date_of_admit %>
</p>
 
<p>
  <strong>date_of_discharge:</strong>
  <%= @medical_record.date_of_discharge %>
</p>
 
<p>
  <strong>doctor_fees:</strong>
  <%= @medical_record.doctor_fees %>
</p>
 
<p>
  <strong>room_charge:</strong>
  <%= @medical_record.room_charge %>
</p>
 
<p>
  <strong>total_bill:</strong>
  <%= @medical_record.total_bill %>
</p>
 
<%= link_to 'Edit', edit_medical_record_path(@medical_record) %>
<%= link_to 'Back', medical_records_path %>