<%= form_with model: @patient, local: true do |form| %>
  <p>
    <%= form.label :patient_name %><br>
    <%= form.text_field :patient_name %>
  </p>
 
  <p>
    <%= form.label :patient_age %><br>
    <%= form.text_field :patient_age %>
  </p>

  <p>
    <%= form.label :patient_gender %><br>
    <%= form.text_field :patient_gender %>
  </p>
 
 <p>
    <%= form.label :patient_address %><br>
    <%= form.text_field :patient_address %>
  </p>
 
 <p>
    <%= form.label :patient_disease %><br>
    <%= form.text_field :patient_disease %>
  </p>
 
 
  <p>
    <%= form.submit %>
  </p>
<% end %>


