
<h1>Listing patients</h1>
<%= link_to 'New patient', new_patient_path %>
 
<table class="table">
 <thead>
  <tr>
    <th>Name</th>
    <th>Age </th>
    <th>Gender</th>
    <th>Address</th>
    <th>Disease</th>
  </tr>
 </thead>
 <tbody>
  <% @patients.each do |patient| %>

    <tr>
      <td><%= patient.patient_name %></td>
      <td><%= patient.patient_age %></td>
      <td><%= patient.patient_gender %></td>
      <td><%= patient.patient_address %></td>
      <td><%= patient.patient_disease %></td>
      <td><%= link_to 'Show', patient_path(patient) %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
      <td><%= link_to 'Destroy', patient_path(patient), data: { 
              turbo_method: :delete,
              turbo_confirm: 'Are you sure?' } %></td>
    </tr>
  
  <% end %>
</tbody>
</table>
