
<h1>Listing patients</h1>
<%= link_to 'New patient', new_patient_path %>
 
<table>
 <thead>
  <tr>
    <th>p_name</th>
    <th>p_age </th>
    <th>p_gender</th>
    <th>p_address</th>
    <th>p_disease</th>
  </tr>
 </thead>
 <tbody>
  <% @patients.each do |patient| %>

    <tr>
      <td><%= patient.p_name %></td>
      <td><%= patient.p_age %></td>
      <td><%= patient.p_gender %></td>
      <td><%= patient.p_address %></td>
      <td><%= patient.p_disease %></td>
      <td><%= link_to 'Show', patient_path(patient) %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
      <td><%= link_to 'Destroy', patient_path(patient),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  
  <% end %>
</tbody>
</table>
