<p>
  <strong>patient_name:</strong>
  <%= @patient.patient_name %>
</p>
 
<p>
  <strong>patient_age:</strong>
  <%= @patient.patient_age %>
</p>
 
<p>
  <strong>patient_gender:</strong>
  <%= @patient.patient_gender %>
</p>
 
<p>
  <strong>patient_address:</strong>
  <%= @patient.patient_address %>
</p>
 
<p>
  <strong>patient_disease:</strong>
  <%= @patient.patient_disease %>
</p>
 
<%= link_to 'Edit', edit_patient_path(@patient) %>
<%= link_to 'Back', patients_path %>