<%= form_with model: @hospital, local: true do |form| %>
   
   <p>
    <%= form.label :hospital_number %><br>
    <%= form.number_field :hospital_number
    %>
  </p>

  <p>
    <%= form.label :Hospital_name %><br>
    <%= form.text_field :hospital_name
    %>
  </p>

  <p>
    <%= form.label :Hospital_city %><br>
    <%= form.text_field :hospital_city %>
  </p>
 
 <p>
    <%= form.label :Hospital_address %><br>
    <%= form.text_field :hospital_address %>
  </p>
 
 <p>
    <%= form.label :Hospital_type %><br>
    <%= form.text_field :hospital_type %>
  </p>
 
 
  <p>
    <%= form.submit %>
  </p>
<% end %>


