<h2>Listing hospital</h2>
<%= link_to 'New hospital', new_hospital_path %> 
 
<table class="table">
 
  <tr>
    <th>Hospital number </th>
    <th>Hospital name </th>
    <th>Hospital city</th>
    <th>Hospital address</th>
    <th>Hospital type</th>
   
  </tr>
 
 
  <% @hospitals.each do |hospital| %>

    <tr>
      <td><%= hospital.hospital_number %></td>
      <td><%= hospital.hospital_name%></td>
      <td><%= hospital.hospital_city %></td>
      <td><%= hospital.hospital_address %></td>
      <td><%= hospital.hospital_type %></td>
      <td><%= link_to 'Show', hospital_path(hospital) %></td>
      <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
      <td><%= link_to 'Destroy', hospital_path(hospital), data: { 
              turbo_method: :delete,
              turbo_confirm: 'Are you sure?' } %></td>
    </tr>
  
  <% end %>

</table>
