<p>
  <strong>hospital_number:</strong>
  <%= @hospital.hospital_number %>
</p>
 
<p>
  <strong>Hospital_name:</strong>
  <%= @hospital.hospital_name %>
</p>
 
<p>
  <strong>Hospital_city:</strong>
  <%= @hospital.hospital_city %>
</p>
 
<p>
  <strong>Hospital_address:</strong>
  <%= @hospital.hospital_address %>
</p>
 
<p>
  <strong>Hospital_type:</strong>
  <%= @hospital.hospital_type %>
</p>
 
<%= link_to 'Edit', edit_hospital_path(@hospital) %>
<%= link_to 'Back', hospitals_path %>