<div class="card container" style="width: 20rem; height: 25rem">
<h2 style="margin-left: 85px">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" style="padding-inline: 15px">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field" style="padding-inline: 15px">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field" style="padding-inline: 15px">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions" style="padding-inline: 15px">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="actions" style="padding: 20px">
<%= render "devise/shared/links"  %>
</div>
 </div>